{% extends "base.html" %}
{% load static %}
{% block title %}Rates{% endblock title %}
{% block content %}
<table>
<tr>
  <th>Currency</th>
  <th>Sale</th>
  <th>Purchase</th>
  </tr>
 <tr>
  <td>Microsoft</td>
  <td>20.3</td>
  <td>30.5</td>
 </tr>
<tr>
  <td>Google</td>
  <td>50.2</td>
  <td>40.63</td>
</tr>
<tr>
  <td>Apple</td>
  <td>25.4</td>
  <td>30.2</td>
</tr>
<tr>
  <td>IBM</td>
  <td>20.4</td>
  <td>15.6</td>
</tr>
</table>
{% endblock content %}
{% block header %}Main{% endblock header %}