{% extends "base.html" %}
{% load static %}
{% block title %}Rates{% endblock title %}
{% block content %}
        <table>
        <tr>
          <th>Currency</th>
          <th>Sale</th>
          <th>Purchase</th>
          </tr>
         <tr>
          <td>USD</td>
          <td>2.500</td>
          <td>2.480</td>
         </tr>
        <tr>
          <td>EUR</td>
          <td>2.800</td>
          <td>2.760</td>
        </tr>
        <tr>
          <td>RUB</td>
          <td>3.000</td>
          <td>2.800</td>
        </tr>
        </table>
{% endblock content %}
{% block header %}Main{% endblock header %}